h1 {color:hsl(0,64%,68%);}
* {font-family: 'Courier New', Courier, monospace;text-align: justify;}
h1,h2 {background-color: rgb(213,250,255)}
.rlink {font-size: 18px; font-weight: lighter; font-style: italic;}
.centered {text-align: center; border:3px dotted skyblue; box-align: center}